.c1{
    background-color: #777;
}

.c2{
    background-color: #888;
}

.c3{
    background-color: #999;
}

.c4{
    background-color: #aaa;
}

.c5{
    background-color: #bbb;
}

.container{
    width: 900px;
    height: 400px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

.content{
    flex: 2;
    display: flex;
}

.footer{
    flex: 1;
}

.menu{
    flex: 1;
}

.content-left{
    display: flex;
    flex-direction: column;
    flex: 2;
}

.header{
    flex: 1;
}

.content-botton{
    display: flex;
    flex: 1;
}

.article{
    flex: 1;
    display: flex;
}

*{
    box-sizing: border-box;
}

.menu-horizontal {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #fff;
    margin-bottom: 30px;
}

.menu-horizontal li {
    margin: 0 5px;
}

.menu-horizontal li a {
    color: #fff;
    padding: 15px 25px;
    text-decoration: none;
    background-color: #444;
    border-radius: 3px;
}

.menu-horizontal li a:hover {
    background-color: #555;
}


/* Página 02 */

