.c1{
    background-color: #AD1457;
    /*Rodapé*/
}

.c2{
    background-color: #F48FB1;
    /*MENU*/
}

.c3{
    background-color: #ec4079de;
    /*ARTIGO 2*/
}

.c4{
    background-color: #C2185B;
    /*ARTIGO 1*/
}

.c5{
    background-color: #FF4081;
    /*cabeçalho*/
}

body{
    background-color: #FFF0F5;
}
.container{
    width: 900px;
    height: 400px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.content{
    flex: 2;
    display: flex;
}

.footer{
    flex: 1;
}

.menu{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.content-left{
    display: flex;
    flex-direction: column;
    flex: 2;
}

.header{
    flex: 1;
}

.content-botton{
    display: flex;
    flex: 1;
}

.article{
    flex: 1;
    display: flex;
}

*{
    box-sizing: border-box;
}

.menu-horizontal {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #AD1457;
    padding: 30px;
    margin-bottom: 100px;
    margin-top: 0%;
}

.menu-horizontal li {
    margin: 0 5px;
}

.menu-horizontal li a {
    color: #AD1457;
    padding: 15px 50px;
    text-decoration: none;
    background-color: #fbb0c9;
    border-radius: 5px;
}

.menu-horizontal li a:hover {
    background-color: #AD1457;
    border: 1px solid #fff;
    color: #fff;
}


/* Página 02 */

#cabecalho02{
    width: 100%;
    background-color: #FF4081;
}

#content-center{
    flex: 3;
}

#menu02{
    background-color: #C2185B;
}

.informacoes{
    display: flex;
    flex: 2;
    flex-direction: column;
    background-color: #ec4079de;
}

.ad{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #F48FB1;
}

.fonte-grande{
    font-size: xx-large;
    font-weight: bolder;
}

#mini-menu li a {
    font-size: xx-small;
    padding: 10px 10px;
    justify-content: center;
    text-decoration: none;
    border-radius: 3px;
}

#mini-menu li a:hover {
    background-color: #C2185B;
    border: 1px solid #fff;
    color: #fff;
}

#mini-menu{
    background-color: transparent;
}

/*Página 03*/
#container03 {
    height: auto;
    align-self: flex-start;
}

.tabuleiro-xadrex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    background-color: #AD1457;
    margin: 0px auto;
}

.quadrado-de-quadrados{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: 100px;
}

.quadrado{
    width: 50px;
    height: 50px;
    background-color: #fbb0c9;
}

.trasparente{
    background-color: transparent;
}

/*Pagina 04*/

#container04{
    box-shadow: none;
}

.contents{
    display: flex;
    flex: 6;
    align-items: center;
}


.colun01{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #FF4081;
    height: 20vh;
}

.colun02{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #C2185B;
    height: 30vh;

}

.colun03{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #ec4079de;
    height: 15vh;
}

.colun04{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #F48FB1;
    height: 35vh;
}

.colun05{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #C2185B;
    height: 50vh;
}
.colun06{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #AD1457;
    height: 20vh;

}
